
body{
   
    text-align: center;
    
    font-family: "Arial";
}

a{
    
    border: solid;
    
    padding: 20px;
    
    display: inline-block;
 
    text-decoration: none;
}

p{
    margin: 0 auto;         /* This property centers the paragraph in the middle of the web page */
    color: #505050;         /* Set the default paragraph color to light gray */

    width: 800px;
    font-size: 21px;
    line-height: 1.6; 
   
    text-align: left;
    padding: 10px;         

}

